:root {
    --letter-basic-white: #FFFFFF;
    --letter-basic-black: #000000;
    --panel-color: #FFFFFF;
    --panel-color-correct: #570000;
    --letter-correct: #2AA800;
    --letter-incorrect: #B70000;
    --button-keyboard-active: #570000;
    --border-keyboard: #808080;
    --bg-keyboard: transparent;
    --box-alert: #870101;
}


/* Prueba para el theme-toggle con el fondo */
:root {
    --color-background: radial-gradient(ellipse, #303030 0%, #161312 100%);
}

body.light {
    --color-background: radial-gradient(ellipse, #e9e9e9 0%, #d3d3d3 100%);
}